<nav class="navbar fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">{{ this.textFinal }}</a>
    <button
      id="button-navbar"
      class="navbar-toggler"
      style="border: none; box-shadow: none; width: 54px; height: 38px"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="setMenuOpened()"
    >
      <span
        [ngClass]="{
          'bi bi-x-lg': isMenuOpened(),
          'navbar-toggler-icon': !isMenuOpened()
        }"
      ></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{
        show: isMenuOpened()
      }"
      id="navbarNav"
    >
      <ul
        class="navbar-nav d-flex justify-content-end"
        [style.display]="this.show ? '' : 'none !important'"
      >
        <li class="nav-item" (click)="setMenuOpened()">
          <a class="nav-link" aria-current="page" href="#">Esperienze</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Formazione</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contatti</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
