<div
  style="
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 15px;
  "
  [ngStyle]="{ 'min-height': outerDivHeight + 'px' }"
>
  <div class="row-code">
    <div [style.width.%]="space"></div>
    <!--<div class="line animate demo"></div>-->
    <div
      class="line animate"
      style="width: 20vw; min-width: 100px"
      [ngStyle]="{ background: red }"
    ></div>
  </div>
  <div class="row-code">
    <div [style.width.%]="space + 5"></div>
    <!--<div class="line animate demo"></div>-->
    <div
      class="line animate"
      style="width: 20vw; min-width: 100px"
      [ngStyle]="{ background: orange }"
    ></div>
    <div
      class="line animate"
      style="width: 10vw; min-width: 50px"
      [ngStyle]="{ background: green }"
    ></div>
  </div>
  <div class="row-code">
    <div [style.width.%]="space + 5"></div>
    <div
      class="line animate"
      style="width: 10vw; min-width: 50px"
      [ngStyle]="{ background: grey }"
    ></div>
  </div>
  <div class="row-code">
    <div [style.width.%]="space + 10"></div>
    <div
      class="line animate"
      style="width: 7vw; min-width: 35px"
      [ngStyle]="{ background: green }"
    ></div>
    <div
      class="line animate"
      style="width: 5vw; min-width: 25px"
      [ngStyle]="{ background: blue }"
    ></div>
    <div
      class="line animate"
      style="width: 12vw; min-width: 60px"
      [ngStyle]="{ background: grey }"
    ></div>
  </div>
  <div class="row-code">
    <div [style.width.%]="space + 10"></div>
    <div
      class="line animate"
      style="width: 9vw; min-width: 45px"
      [ngStyle]="{ background: grey }"
    ></div>
    <div
      class="line animate"
      style="width: 10vw; min-width: 50px"
      [ngStyle]="{ background: red }"
    ></div>
  </div>
  <div class="row-code">
    <div [style.width.%]="space + 5"></div>
    <div
      class="line animate"
      style="width: 20vw; min-width: 100px"
      [ngStyle]="{ background: blue }"
    ></div>
  </div>
  <div class="row-code">
    <div [style.width.%]="space"></div>
    <div
      class="line animate"
      style="width: 3vw; min-width: 15px"
      [ngStyle]="{ background: red }"
    ></div>
    <div
      class="line animate"
      style="width: 9vw; min-width: 45px"
      [ngStyle]="{ background: orange }"
    ></div>
    <div
      class="line animate"
      style="width: 5vw; min-width: 25px"
      [ngStyle]="{ background: grey }"
    ></div>
    <div
      class="line animate"
      style="width: 9vw; min-width: 45px"
      [ngStyle]="{ background: green }"
    ></div>
  </div>

  <!--bg-opacity-75 bg-white-->
  <div #innerDiv class="bg-opacity-75 bg-white container-cover">
    <div class="card-cover" style="padding-left: 5%">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>

    <div style="flex-grow: 2; display: flex; justify-content: center">
      <img
        class="avatar border-light"
        src="/assets/image/photo.jpg"
        alt="Giovanna Ferrero"
      />
    </div>
  </div>
</div>
