<div  class="bg-light" style="height: 30%; ">

    <div  style="padding-left: 5%; padding-top: 10px; padding-bottom: 10px; ">
        <div class="fs-5 mb-0 h1 bg-light" style="position: sticky; top: 56px; margin-bottom: 10px;">{{'\<Esperienze>'}}</div>
            <div style="padding-left: 5%; display: flex; flex-direction: column; gap: 5px;">  
               
                <div style="display: flex; flex-direction: row; align-items: stretch; gap: 5px;">
                    <div > 
                        <div style=" width: 4px; height: 100%; border-radius: 25px; background-color: #5d9b9b;"></div>
                    </div>
                    <div>
                        <div>Arbitro di pallacanestro</div>
                        <div>Federazione Italiana Pallacanetro</div>
                        <div>11/2015 - 04/2018</div>
                        <div>Descrivione</div>
                    </div>
                    
                </div>
               
                <div style="display: flex; flex-direction: row; align-items: stretch; gap: 5px;">
                    <div > 
                        <div style=" width: 4px; height: 100%; border-radius: 25px; background-color: #ff7514;"></div>
                    </div>
                    <div>
                        <div>Arbitro di pallacanestro</div>
                        <div>Federazione Italiana Pallacanetro</div>
                        <div>11/2015 - 04/2018</div>
                        <div>Descrivione</div>
                    </div>
                    
                </div>
          
            </div>
            <div class="fs-5 mb-0 h1">{{'\<Esperienze/>'}}</div>
    </div>

</div>
