<nav
  class="navbar fixed-top navbar-expand-lg bg-light"
  [ngClass]="{
    'bg-light': themeService.isLight(),
    'bg-dark': themeService.isDark()
  }"
>
  <div class="container-fluid">
    <a
      class="navbar-brand mb-0 h1"
      href="#"
      [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
      >{{ this.textFinal }}</a
    >
    <button
      id="button-navbar"
      class="navbar-toggler"
      style="border: none; box-shadow: none; width: 54px; height: 38px"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="setMenuOpened()"
    >
      <span
        [ngClass]="{
          'bi bi-x-lg': isMenuOpened(),
          'navbar-toggler-icon': !isMenuOpened()
        }"
      ></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{
        show: isMenuOpened()
      }"
      id="navbarNav"
    >
      <ul
        class="navbar-nav d-flex justify-content-end"
        [style.display]="this.show ? '' : 'none !important'"
      >
        <li class="nav-item" (click)="setMenuOpened()">
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
            >Esperienze</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
            >Formazione</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
            >Contatti</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
