<nav
  class="navbar fixed-top navbar-expand-lg bg-light"
  [ngClass]="{
    'bg-light': themeService.isLight(),
    'bg-dark': themeService.isDark()
  }"
  style="height: 56px"
>
  <div
    class="container-fluid"
    [ngClass]="{
      'bg-light': themeService.isLight(),
      'bg-dark': themeService.isDark()
    }"
  >
    <a
      class="navbar-brand mb-0 h1"
      href="#"
      [ngClass]="themeService.isLight() ? 'text-dark' : 'text-light'"
      >{{ this.textFinal }}</a
    >
    <button
      id="button-navbar"
      class="navbar-toggler"
      [ngClass]="{ 'navbar-dark': themeService.isDark() }"
      style="border: none; box-shadow: none; width: 54px; height: 38px"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="setMenuOpened()"
    >
      <span
        [ngClass]="{
          'bi bi-x-lg': isMenuOpened(),
          'navbar-toggler-icon': !isMenuOpened()
        }"
      ></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngClass]="{
        show: isMenuOpened()
      }"
      id="navbarNav"
    >
      <ul
        class="navbar-nav d-flex justify-content-end"
        [style.display]="this.show ? '' : 'none !important'"
        style="padding-right: 10px"
      >
        @for (section of sections(); track $index) {

        <li class="nav-item" (click)="setMenuOpened()">
          <a
            class="nav-link"
            aria-current="page"
            [href]="'#' + section"
            [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
            >{{ section }}</a
          >
        </li>
        }

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Contatti
          </a>
          <ul
            class="dropdown-menu"
            [ngClass]="{
              'bg-light': themeService.isLight(),
              'bg-dark': themeService.isDark()
            }"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item d-flex flex-row gap-2"
                [ngClass]="
                  themeService.isLight() ? 'link-dark ' : 'link-light '
                "
                href="https://github.com/leominaudo"
                target="_blank"
                ><i class="bi bi-github"></i>GitHub
              </a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex flex-row gap-2"
                [ngClass]="themeService.isLight() ? 'link-dark' : 'link-light'"
                href="https://www.linkedin.com/in/leonardo-minaudo"
                target="_blank"
                ><i class="bi bi-linkedin"></i>LinkedIn
              </a>
            </li>
            <li>
              <a
                class="dropdown-item d-flex flex-row gap-2"
                [ngClass]="themeService.isLight() ? 'link-dark' : 'link-light'"
                href="mailto:leominaudo24@gmail.com"
                ><i class="bi bi-envelope-fill"></i> E-mail</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item" style="width: 30px">
          <app-switch-button-theme />
        </li>
      </ul>
    </div>
  </div>
</nav>
