<app-card [bgColor]="bgColor()" [border]="border()">
  <!--Period-->
  @if (period()) {
  <div class="text-muted mb-1" style="font-size: small">
    {{ period() }}
  </div>

  }
  <!--Title-->
  @if (title()) {
  <h5 class="card-title">{{ title() }}</h5>
  }
  <!--Description-->
  @if (description()) {
  <p class="card-text">{{ description() }}</p>
  }
  <!--Chips-->
  @if (chips()) {
  <div class="d-flex flex-row column-gap-1">
    @for (chip of chips(); track $index) {
    <app-chip [label]="chip" />

    }
  </div>
  }
</app-card>
