<div [class]="classBgColor()">
  <div
    [class]="classBgColor()"
    class="fs-5 mb-0 h1"
    style="
      position: sticky;
      top: 54px;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      z-index: 100;
    "
    [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
  >
    {{ openTag() }}
  </div>
  <div
    class="w-100 d-flex flex-column gap-3"
    style="padding-left: 5%; padding-right: 5%"
  >
    <ng-content />
  </div>
</div>

<div
  class="fs-5 mb-0 h1"
  [class]="classBgColor()"
  style="
    position: sticky;
    top: 54px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    z-index: 2;
  "
  [ngStyle]="{ color: themeService.isLight() ? '' : 'white' }"
>
  {{ closeTag() }}
</div>
