<app-row>
  <app-tag name="Esperienze" bgColor="primary">
    <app-sub-tag
      link="https://fip.it/"
      name="Federazione Italiana Pallacanetro"
    >
      <app-card-info
        bgColor="secondary"
        border="dashed"
        [cardInfo]="{
          period: '11/2015 - 04/2018',
          title: 'Arbitro di pallacanestro 🏀',
          description:
            'Arbitro regionale di serie D, B/F e C/F (5a categoria).',
          chips: ['Responsabilità', 'Responsabilità']
        }"
      />
    </app-sub-tag>
  </app-tag>
</app-row>
